.book-tr-name {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 250px;
}
.book-tr-name > img {
  width: 60px;
  margin-right: 20px;
}
.book-tr-name > span > h4 {
  margin-bottom: 0px;
}
.book-tr-name > span > h4 > i {
  font-size: 12px;
  color: #68aac3;
}
.book-tr-name > span > p {
  margin: 5px 0px;
  margin-top: 7px;
  color: #656565;
  font-size: 13px;
}
.book-tr-name > span > p > i {
  margin-right: 3px;
  font-size: 11px;
}
.book-tr-name > span > small {
  color: #656565;
}
.order-table-time {
  display: block;
  min-width: 100px;
}
.order-table-Working {
  color: gray;
}
.order-table-Transporting {
  color: purple;
}
.order-table-Completed {
  color: green;
}
.order-table-Cancelled {
  color: orange;
}
.order-table-payment > i {
  margin-right: 3px;
  color: gray;
}
.order-table-payment > i.fas.fa-check {
  color: #77ca89;
  margin-left: 3px;
  margin-right: 0px;
}
.order-table-shipment {
  display: flex;
  flex-direction: column;
}
.order-table-shipment > span:nth-of-type(1) {
  margin-bottom: 5px;
  font-weight: bold;
  color: #5f5e5e;
}
.order-table-shipment > span:nth-of-type(1) > i {
  margin-left: 3px;
  color: #77ca89;
}
.order-table-shipment > span:nth-of-type(2) {
  font-size: 12px;
  line-height: 1.5;
}
