.imgAsBg,
.trending-genres > .container > div:nth-of-type(2) > div,
.recommend-book,
.event-banner .col-md-5 > div,
.event-banner .col-md-7 > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body.kafka-layout {
  overflow: auto;
  font-family: "Helvetica Neue", sans-serif;
  background-color: white;
}
.logo {
  color: #e4e4e4;
  font-size: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo > i {
  font-size: 40px;
  color: white;
}
.logo > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 10px;
  line-height: 20px;
}
.logo > div > h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 100;
  margin: 0;
}
.logo > div > p {
  color: #808080;
  font-family: "Helvetica Neue", sans-serif !important;
  margin: 0;
  font-size: 14px;
}
.logo.bigger > i {
  font-size: 45px;
}
.logo.bigger > div > h3 {
  font-size: 35px;
}
.shop-navbar {
  padding: 38px 51px 38px 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
}
.shop-navbar.transparent {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.shop-navbar > div {
  display: flex;
  align-items: center;
}
.shop-navbar > div#left > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 12px;
}
.shop-navbar > div#left > ul > li {
  font-family: "Lato", sans-serif;
  color: #dadada;
  border: none;
  outline: none;
  padding: 15px 16px;
}
.shop-navbar > div#left > ul > li a {
  font-size: 16px;
  color: #dadada;
}
.shop-navbar > div#left > ul > li:hover {
  border-radius: 5px;
  background-color: #4141414f;
  transition-duration: 0.5s;
}
.shop-navbar > div#left > div {
  display: flex;
  align-items: center;
  padding-left: 5px;
  width: 400px;
  height: 41px;
  border-radius: 20px;
  border: 2px solid #bfbfbf;
  margin-left: 20px;
}
.shop-navbar > div#left > div > i {
  font-size: 16px;
  color: #9c9c9c;
  margin-left: 8px;
}
.shop-navbar > div#left > div > input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  background-color: transparent;
  color: #9c9c9c;
  outline: none;
  border: none;
  transition: none;
  font-family: "Helvetica Neue", sans-serif;
}
.shop-navbar > div#left > div > input::placeholder {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}
.shop-navbar > div#right {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
}
.shop-navbar > div#right > .phone {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.shop-navbar > div#right > .phone > i {
  padding-right: 10px;
  margin-right: 10px;
  font-size: 21px;
  color: #d1d1d1;
}
.shop-navbar > div#right > .phone > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5px;
}
.shop-navbar > div#right > .phone > div > p {
  font-size: 13px;
  color: #d1d1d1;
  margin-bottom: 0px;
  letter-spacing: 3px;
}
.shop-navbar > div#right > .phone > div > small {
  font-size: 14px;
  color: gray;
}
.shop-navbar > div#right > .acc {
  margin-right: 15px;
}
.shop-navbar > div#right > .acc > a {
  display: flex;
  align-items: center;
  color: #dadada;
  padding: 7px 15px 6px 15px;
}
.shop-navbar > div#right > .acc > a > i {
  padding-right: 10px;
  margin-right: 10px;
  font-size: 25px;
  border-right: 1px solid gray;
}
.shop-navbar > div#right > .acc > a > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Lato", sans-serif;
}
.shop-navbar > div#right > .acc > a > div > p {
  font-size: 14px;
  color: #d1d1d1;
  margin-bottom: 0px;
}
.shop-navbar > div#right > .acc > a > div > small {
  font-size: 14px;
  color: gray;
}
.shop-navbar > div#right > .acc > a:hover {
  color: white;
}
.shop-navbar > div#right > .logged-acc {
  position: relative;
}
.shop-navbar > div#right > .logged-acc:hover > ul {
  display: block;
  padding-left: 0;
}
.shop-navbar > div#right > .logged-acc > div {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 15px;
  padding-left: 15px;
}
.shop-navbar > div#right > .logged-acc > div > div {
  display: flex;
  flex-direction: column;
}
.shop-navbar > div#right > .logged-acc > div > div > p {
  font-size: 13px;
  color: #d1d1d1;
  margin-bottom: 3px;
}
.shop-navbar > div#right > .logged-acc > div > div > small {
  color: gray;
}
.shop-navbar > div#right > .logged-acc > div > i:nth-of-type(1) {
  padding-right: 10px;
  margin-right: 10px;
  font-size: 25px;
  border-right: 1px solid gray;
  color: #6cbc8b;
}
.shop-navbar > div#right > .logged-acc > div > i:nth-of-type(2) {
  border: none;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 10px;
  color: gray;
  font-size: 18px;
  margin-left: 5px;
}
.shop-navbar > div#right > .logged-acc > ul {
  display: none;
  position: absolute;
  background-color: #0d0d0da3;
  width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.shop-navbar > div#right > .logged-acc > ul > li,
.shop-navbar > div#right > .logged-acc > ul a {
  list-style-type: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Lato;
  transition-duration: 0.2s;
}
.shop-navbar > div#right > .logged-acc > ul > li:hover,
.shop-navbar > div#right > .logged-acc > ul a:hover {
  background-color: #202020;
  cursor: pointer;
}
.shop-navbar > div#right > .cart > a {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #366f724f;
  color: white;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
}
.shop-navbar > div#right > .cart > a > i {
  margin-right: 5px;
  font-size: 22px;
  color: #e5e5e5;
}
.shop-navbar > div#right > .cart > a > span {
  margin-left: 5px;
}
.shop-navbar > div#right > .cart > a > span:nth-of-type(1) {
  margin-right: 5px;
  font-size: 16px;
  color: #e5e5e5;
}
.shop-navbar > div#right > .cart > a > span:nth-of-type(2) {
  margin-left: 5px;
  background-color: #4f7c7c;
  padding: 4px 7px;
  border-radius: 3px;
}
.book {
  font-family: "Lato", sans-serif;
  text-align: center;
}
.book > div {
  position: relative;
}
.book > div > img {
  display: block;
  height: 295px;
  width: 205px !important;
  margin: auto;
}
.book > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f2f2f;
  width: 205px;
  margin: auto;
  transition-duration: 0.5s;
  opacity: 0;
  transform: translateY(8px);
}
.book > div > div > p {
  color: white;
  line-height: 2.8;
  font-size: 14px;
  padding-left: 5%;
  flex-grow: 1;
  text-align: left;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}
.book > div > div > p > i {
  font-size: 16px;
  color: yellow;
}
.book > div > div > button {
  outline: none;
  line-height: 2.8;
  padding: 1px 15px;
  flex-grow: 0;
  border: none;
}
.book > div > div > button:nth-of-type(1) {
  color: white;
  background-color: #78d2c0;
  border: 1px solid #78d2c0;
}
.book > div > div > button:nth-of-type(2) {
  color: #e26b14;
  background-color: transparent;
}
.book > div:hover > div {
  opacity: 1;
  transform: translateY(0px);
}
.book > a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #3c3c3c;
  font-size: 18px;
  margin-top: 16px;
  font-weight: lighter;
}
.book > p {
  font-size: 14px;
  margin-top: 8px;
}
.book > p:nth-of-type(1) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #a0a0a0;
  font-weight: lighter;
}
.book > p:nth-of-type(2) {
  color: black;
}
.book > p:nth-of-type(2) > span:nth-of-type(1) {
  font-size: 12px;
  color: gray;
  text-decoration: line-through;
}
.book > p:nth-of-type(2) > span:nth-of-type(2) {
  color: #e83935;
}
.shop-breadcrumb {
  background-color: #343434;
  margin-bottom: 38px;
}
.shop-breadcrumb.harder {
  background-color: #1f1f1f;
}
.shop-breadcrumb > .container > .row > h4 {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  cursor: pointer;
  margin: 0;
  color: #e4e4e4;
  font-size: 18px;
}
.shop-breadcrumb > .container > .row > h4 > i {
  color: #e4e4e4;
  padding-left: 5px;
}
.shop-breadcrumb > .container > .row .breadcrumb {
  border-radius: 0px;
  line-height: 3.5;
  background-color: transparent;
  padding: 0;
  font-family: Lato;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}
.shop-breadcrumb > .container > .row .breadcrumb > i {
  margin-right: 7px;
}
.shop-breadcrumb > .container > .row .breadcrumb a {
  color: #777777;
}
.shop-breadcrumb > .container > .row .breadcrumb .active {
  color: #fff;
  font-weight: 700;
}
.title-bar {
  color: #5f5f5f;
  background-color: white;
  padding: 15px 0px 15px 10px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  margin: 5px 0 8px 0;
}
.title-bar > i {
  margin-right: 10px;
}
.section-bar {
  color: #5f5f5f;
  background-color: white;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #d6d6d6;
  text-transform: capitalize;
}
.cart-table {
  margin-bottom: 50px;
}
.cart-table > .row {
  line-height: 3;
  border-bottom: 1px solid #8080802e;
  color: #808080b3;
  font-size: 12px;
  margin: 15px 0 0 0;
}
.cart-table > .list > .row {
  margin: 23px 0px 38px 0px;
}
.cart-table > .list > .row > .col-md-6 {
  display: flex;
}
.cart-table > .list > .row > .col-md-6 > img {
  width: 100px;
  height: 140px;
}
.cart-table > .list > .row > .col-md-6 > div {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  margin-left: 17px;
}
.cart-table > .list > .row > .col-md-6 > div > h4 {
  margin-bottom: 8px;
  margin-top: 10px;
  color: #000000b0;
  font-size: 18px;
  text-transform: capitalize;
}
.cart-table > .list > .row > .col-md-6 > div > p:nth-of-type(1) {
  color: gray;
  margin-bottom: 12px;
}
.cart-table > .list > .row > .col-md-6 > div > span {
  width: fit-content;
  padding: 3px 10px;
}
.cart-table > .list > .row > .col-md-6 > div > span.standard {
  background-color: #8080804a;
  color: #0000008f;
}
.cart-table > .list > .row > .col-md-6 > div > span.fast {
  background-color: #0080008a;
  color: white;
}
.cart-table > .list > .row > .col-md-6 > div > span > i {
  margin-right: 8px;
}
.cart-table > .list > .row > .col-md-6 > div > div {
  display: flex;
  margin-top: 10px;
}
.cart-table > .list > .row > .col-md-6 > div > div button {
  border: none;
  outline: none;
  background-color: transparent;
  color: gray;
  font-size: 15px;
  font-weight: lighter;
  padding: 0;
  margin-right: 10px;
}
.cart-table > .list > .row > .col-md-6 > div > div button:hover {
  text-decoration: underline;
}
.cart-table > .list > .row > div:nth-of-type(2) {
  font-family: "Lato", sans-serif;
}
.cart-table > .list > .row > div:nth-of-type(2) > h4 {
  color: #000000b0;
  margin: 10px 0px;
  font-weight: 500;
  font-size: 18px;
}
.cart-table > .list > .row > div:nth-of-type(2) > p:nth-of-type(1) {
  font-size: 14px;
  text-decoration: line-through;
  color: gray;
  margin-bottom: 10px;
}
.cart-table > .list > .row > div:nth-of-type(2) > p:nth-of-type(2) {
  color: red;
}
.cart-table > .list > .row > div:nth-of-type(3) > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.cart-table > .list > .row > div:nth-of-type(3) > div > p {
  padding: 0 15px;
  margin: 0;
}
.cart-table > .list > .row > div:nth-of-type(3) > div > button {
  margin: 0;
  height: 40px;
}
.cart-table > .list > .row > div:nth-of-type(3) > div > button > i {
  font-size: 10px;
}
.price-panel > div:nth-of-type(1) {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-content: center;
}
.price-panel > div:nth-of-type(1) > input {
  border-radius: 5px;
  border: 1px solid #80808036;
  width: 260px;
  padding-left: 10px;
  outline: none;
  margin-right: 5px;
}
.price-panel > div:nth-of-type(1) > button {
  border-radius: 5px;
  background-color: #609a8d;
  color: white;
  border: none;
  padding: 8px 20px;
}
.price-panel > div:nth-of-type(2) div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: Lato;
  margin-top: 5px;
}
.price-panel > div:nth-of-type(2) div > p:nth-of-type(1) {
  color: gray;
  font-size: 15px;
  margin: 0;
  font-weight: lighter;
}
.price-panel > div:nth-of-type(2) div > p:nth-of-type(2) {
  font-size: 18px;
  color: #5c5c5c;
  margin: 0;
}
.price-panel > div:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: Lato;
  margin-top: 5px;
  border-top: 1px solid #8080802e;
}
.price-panel > div:nth-of-type(3) > p:nth-of-type(1) {
  color: gray;
  font-size: 15px;
  margin: 0;
  font-weight: lighter;
}
.price-panel > div:nth-of-type(3) > p:nth-of-type(2) {
  font-size: 30px;
  color: #5c5c5c;
  margin: 0;
}
.chat-button {
  position: fixed;
  box-sizing: border-box;
  border-radius: 55%;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  background-color: white;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.chat-button.open {
  background-color: #616161;
  color: white;
}
.chat-button > i {
  font-size: 22px;
  padding: 18px;
  padding-bottom: 11px;
}
.chat-box {
  position: fixed;
  box-sizing: border-box;
  width: 330px;
  bottom: 130px;
  right: 50px;
  z-index: 99;
  -webkit-box-shadow: 3px 3px 15px -1px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 3px 3px 15px -1px rgba(50, 50, 50, 0.3);
  box-shadow: 3px 3px 15px -1px rgba(50, 50, 50, 0.3);
  border-radius: 10px;
}
.chat-box > div:nth-of-type(1) {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #343434;
  color: white;
  cursor: pointer;
}
.chat-box > div:nth-of-type(1) > h3 {
  font-family: "Lato", sans-serif;
  color: white;
  margin: 5px 0;
}
.chat-box > div:nth-of-type(2) {
  background-color: #F3F3F3;
  width: 100%;
  height: 300px;
  overflow: auto;
  padding: 20px 12px 10px 12px;
  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
}
.chat-box > div:nth-of-type(2)::-webkit-scrollbar {
  width: 10px;
}
.chat-box > div:nth-of-type(2)::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.chat-box > div:nth-of-type(2)::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999999bd;
}
.chat-box > div:nth-of-type(2)::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.chat-box > div:nth-of-type(2) > div {
  margin-bottom: 15px;
  display: flex;
  width: 100%;
}
.chat-box > div:nth-of-type(2) > div.right {
  justify-content: flex-end;
}
.chat-box > div:nth-of-type(2) > div.right > div {
  background-color: white;
  color: black;
  border-bottom-right-radius: 0px;
}
.chat-box > div:nth-of-type(2) > div.left > div {
  background-color: #84b7b9;
  color: white;
  border-top-left-radius: 0px;
}
.chat-box > div:nth-of-type(2) > div > div {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 75%;
}
.chat-box > div:nth-of-type(2) > div > div > p {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.chat-box > form {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.chat-box > form input {
  background-color: transparent;
  padding: 17px 0px 17px 12px;
  width: 100%;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
}
.chat-box > form button {
  background-color: transparent;
  outline: none;
  border: none;
}
.chat-box > form button:nth-of-type(1) {
  font-size: 20px;
  padding-top: 5px;
  margin-left: 10px;
}
.chat-box > form button:nth-of-type(2) {
  height: 100%;
  margin-right: 10px;
}
.quality-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #b3cdec;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
  margin-bottom: 5px;
}
.quality-box > h4 {
  font-size: 14px;
  color: #627b88;
  font-weight: bold;
}
.quality-box > p {
  margin: 0;
  color: gray;
  font-size: 12px;
}
.k-message {
  padding: 10px 10px;
  font-family: "Lato", sans-serif;
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 1.5;
}
.k-message.success {
  color: #68c168;
  background-color: #93e4931c;
  border-left: 3px solid #9cdc98;
}
.k-message.error {
  color: #d85656;
  background-color: #ffdbdb54;
  border-left: 3px solid #d85656;
}
.landing-header {
  width: 100%;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-header > .container {
  font-family: "Lato", sans-serif;
  margin-top: 60px;
}
.landing-header > .container > h2 {
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}
.landing-header > .container > p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #dadada;
}
.benefit-bar {
  background-color: #1f1f1f;
  padding: 25px 0;
}
.benefit-bar .col-md-4 {
  display: flex;
  align-items: center;
}
.benefit-bar .col-md-4 > i {
  padding: 15px;
  font-size: 25px;
  border: 2px solid #6f5757;
  border-radius: 10px;
  color: #e2e2e2;
}
.benefit-bar .col-md-4 > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Lato", sans-serif;
  margin-left: 18px;
}
.benefit-bar .col-md-4 > div > h3 {
  margin: 0;
  font-size: 18px;
  color: #e2e2e2;
  margin-bottom: 5px;
}
.benefit-bar .col-md-4 > div > p {
  color: #8e8d8d;
  margin: 0;
  line-height: 1.5;
}
.trending-genres {
  background-color: #0f0f0f;
  padding-bottom: 50px;
  font-family: "Lato", sans-serif;
  padding: 20px 0 50px 0;
}
.trending-genres > .container > div {
  display: flex;
  align-items: center;
}
.trending-genres > .container > div:nth-of-type(1) {
  margin-bottom: 25px;
}
.trending-genres > .container > div:nth-of-type(1) > h2 {
  color: #838383;
  font-weight: lighter;
  font-size: 22px;
  margin: 0;
  border-right: 1px solid #545454bd;
  padding-right: 8px;
}
.trending-genres > .container > div:nth-of-type(1) > span {
  font-size: 16px;
}
.trending-genres > .container > div:nth-of-type(1) > span > i {
  color: #575757;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 8px;
}
.trending-genres > .container > div:nth-of-type(2) > div {
  height: 220px;
  max-heigh: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recommend-book {
  background-attachment: fixed;
}
.recommend-book > div {
  background-color: #00000085;
}
.recommend-book > div > .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) {
  padding-top: 50px;
  font-family: "Helvetica Neue", sans-serif;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > h4:nth-of-type(1) {
  font-family: "Lato", sans-serif;
  color: #d2d2d275;
  font-size: 18px;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > h4:nth-of-type(2) {
  color: #c5c5c5;
  font-size: 17px;
  font-style: italic;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > h1 {
  text-transform: capitalize;
  color: #f0f0f0;
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 36px;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > p {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-family: Lato;
  font-weight: 300;
  color: #c6c6c6f0;
  line-height: 1.7;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > button {
  background-color: #555;
  color: #b3b3b3;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 2;
  text-transform: capitalize;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  border: 2px solid #555;
  border-radius: 20px;
  transition-duration: 0.2s;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > button:hover {
  background-color: transparent;
  color: gray;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(2) {
  padding-top: 30px;
  padding-bottom: 30px;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(3) {
  padding-top: 30px;
  padding-bottom: 30px;
}
.recommend-book > div > .container > .row > .col-md-4 img {
  width: 288px;
  height: 432px;
  margin: auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-books {
  margin-bottom: 50px;
}
.feature-books > .container > h2 {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  text-align: left;
  margin-top: 40px;
  color: #555;
  margin-bottom: 12px;
  font-size: 30px;
}
.feature-books > .container > p {
  text-align: left;
  color: gray;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
}
.feature-books > .container > .row {
  margin-top: 35px;
}
.cart-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 20px 10px;
}
.cart-button > button {
  outline: none;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 15px;
}
.cart-button > button:nth-of-type(1) {
  flex-basis: 69%;
  background-color: #bc6161;
}
.cart-button > button:nth-of-type(1) > i {
  margin-right: 5px;
}
.cart-button > button:nth-of-type(1):hover {
  text-decoration: none;
  background-color: #ae5c5c;
}
.cart-button > button:nth-of-type(2) {
  background-color: #c8c8c8;
  flex-basis: 30%;
}
.cart-button > button:nth-of-type(2):hover {
  text-decoration: none;
  background-color: #b4b4b4;
}
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.empty-cart > i {
  margin-bottom: 20px;
  color: #acabab6b;
}
.empty-cart > p {
  font-size: 14px;
  color: #747373;
  margin-bottom: 20px;
  margin-top: 10px;
}
.empty-cart > a {
  font-size: 16px;
  background-color: #9ababc;
  color: white;
  padding: 8px 25px;
  border-radius: 5px;
}
.empty-cart > a:hover {
  background-color: #64888b;
  text-decoration: none;
}
.empty-wish {
  padding: 30px 20px;
  font-style: italic;
  background-color: #f1f1f1;
  margin-top: 15px;
  margin-bottom: 50px;
}
.empty-wish > p {
  margin: 0;
  color: gray;
}
.subtitle-bar {
  line-height: 3;
  border-bottom: 1px solid #8080802e;
  color: #808080b3;
  font-size: 12px;
  margin-bottom: 0px;
  padding-left: 5px;
}
.subtitle-bar > i {
  margin-right: 5px;
}
.address-box {
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  border: 1px dashed lightgrey;
}
.address-box.selected {
  border: 1px solid lightgray;
}
.address-box > h5 {
  color: #b0b0b0;
  margin-bottom: 0px;
  font-size: 13px;
  margin-top: 0;
  font-style: italic;
}
.address-box > h3 {
  margin-top: 11px;
  font-size: 17px;
  font-family: Lato;
  font-weight: bold;
  color: #515151;
}
.address-box > div > button:nth-of-type(1) {
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  color: white;
  background-color: #a3a3a3;
}
.address-box > div > button:nth-of-type(1).selected {
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  color: white;
  background-color: #69b099;
}
.address-box > div > button:nth-of-type(1).selected > i {
  margin-right: 5px;
}
.address-box > div > button:nth-of-type(2) {
  padding: 6px 15px;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  margin-right: 5px;
  color: gray;
  background-color: transparent;
  font-weight: bold;
}
.another-address {
  font-size: 13px;
  color: gray;
  text-align: right;
  margin-bottom: 0;
  margin-top: 18px;
  cursor: pointer;
}
.address-form {
  margin-bottom: 12px;
}
.address-form .row {
  margin-top: 20px;
}
.address-form .col-md-6 {
  max-height: 500px;
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
  transition: max-height 1s, opacity 0.5s 0.3s, transform 0.5s 0.2s;
}
.address-form .col-md-6 label {
  font-family: Lato;
  color: #535353;
  font-weight: bold;
}
.address-form .col-md-6 .form-control {
  border-radius: 0px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
}
.address-form .col-md-6 .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #50a3a3;
}
.address-form .col-md-6 .form-control::placeholder {
  color: gray;
  font-size: 14px;
}
.address-form > button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  color: white;
  max-height: 500px;
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
  transition: max-height 1s, opacity 0.5s 0.5s, transform 0.5s 0.5s;
}
.address-form > button:nth-of-type(1) {
  background-color: #69b099;
}
.address-form > button:nth-of-type(2) {
  background-color: #a4a4a4;
  margin-left: 5px;
}
.submit-cart-button > button {
  padding: 9px 20px;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}
.submit-cart-button > button:nth-of-type(1) {
  color: white;
  background-color: #98aa70;
}
.submit-cart-button > button:nth-of-type(1) > i {
  margin-right: 5px;
}
.submit-cart-button > button:nth-of-type(2) {
  background-color: #efefef;
  color: gray;
}
.book-cover-row {
  margin-top: 23px;
  margin-bottom: 10px;
}
.book-cover-row > .row > .col-md-2 {
  margin-right: 10px;
}
.book-cover-row > .row > .col-md-2 .book-cover {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 120px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.book-cover-row > .row > .col-md-2 .book-cover > p {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 0px;
}
.book-cover-row > .row > .col-md-2 .book-cover > p:nth-of-type(1) {
  background-color: #2f2f2f;
  color: whitesmoke;
  bottom: 0;
  right: 0;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  max-width: 85px;
  border-top-left-radius: 10px;
  transition: max-width 0.2s linear, transform 0.3s linear;
}
.book-cover-row > .row > .col-md-2 .book-cover > p:nth-of-type(1) > i {
  color: gray;
  margin-right: 4px;
  margin-left: 2px;
}
.book-cover-row > .row > .col-md-2 .book-cover > p:nth-of-type(2) {
  left: 0px;
  top: 0px;
  background-color: #69b099;
  color: white;
  text-align: center;
  font-size: 11px;
  margin-left: 10px;
  width: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: transform 0.2s linear;
  transform: translateY(-30px);
}
.book-cover-row > .row > .col-md-2 .book-cover.care {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
  transition: transform 0.5s;
}
.book-cover-row > .row > .col-md-2 .book-cover.care > p:nth-of-type(1) {
  max-width: 120px;
  border-radius: 0px;
}
.book-cover-row > .row > .col-md-2 .book-cover.care > p:nth-of-type(1) > i {
  color: #ffff3a;
}
.book-cover-row > .row > .col-md-2 .book-cover.care > p:nth-of-type(2) {
  transform: translateY(0px);
  transition: transform 0.3s linear;
}
.delivery-methods {
  margin-top: 20px;
  margin-bottom: 20px;
}
.delivery-methods p {
  display: flex;
  align-items: center;
  font-family: Lato;
  cursor: pointer;
}
.delivery-methods p > i {
  font-size: 21px;
  margin-right: 8px;
}
.delivery-methods p > i.fas.fa-check-square {
  color: #8ec8b6;
}
.delivery-methods p > i.fas.fa-square {
  color: #cfcfcf;
}
.event-banner {
  margin-bottom: 38px;
}
.event-banner .col-md-5,
.event-banner .col-md-7 {
  padding-right: 0;
}
.event-banner .col-md-5 > div,
.event-banner .col-md-7 > div {
  height: 150px;
  color: white;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 33px;
}
.event-banner .col-md-5 > div > h2,
.event-banner .col-md-7 > div > h2 {
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  margin-bottom: 0px;
  font-weight: lighter;
  margin-top: 0px;
  font-size: 30px;
  color: white;
}
.event-banner .col-md-5 > div > p,
.event-banner .col-md-7 > div > p {
  font-family: "Lato", sans-serif;
  line-height: 2;
  padding: 10px 10px 10px 0px;
  margin: 0;
}
.event-banner .col-md-7 > div {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.event-banner .col-md-7 > div p {
  line-height: 1.7;
  background-color: #00000094;
  padding: 15px;
}
.store-nav-list {
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0;
}
.store-nav-list > li {
  background-color: #f9f9f9;
  padding-left: 15px;
  padding-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.store-nav-list > li > a {
  color: #828384;
  line-height: 2.5;
  font-family: "Lato", sans-serif;
}
.store-nav-list > li > a:hover {
  text-decoration: underline;
}
.store-nav-genres {
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0;
}
.store-nav-genres > li {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #e8e8e8;
}
.store-nav-genres > li:hover {
  background-color: #efefef;
}
.store-nav-genres > li:hover > a,
.store-nav-genres > li:hover span {
  color: #545454;
}
.store-nav-genres > li > a {
  color: #828384;
  line-height: 3;
  font-family: "Lato", sans-serif;
}
.store-nav-genres > li > a:hover {
  text-decoration: underline;
}
.store-nav-genres > li > span {
  font-family: "Lato", sans-serif;
  color: #adadad;
  line-height: 3;
  font-size: 12px;
  padding-left: 15px;
}
.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 10px;
  border-bottom: 1px dashed #d2d2d2;
  margin-bottom: 30px;
}
.filter-bar > div {
  display: flex;
  align-items: center;
}
.filter-bar > div p {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #b3b3b3;
}
.filter-bar > div:nth-of-type(1) > i {
  margin-right: 7px;
  font-size: 17px;
  color: #d2d2d2;
}
.filter-bar > div:nth-of-type(1) > i.active {
  color: #a2a2a2;
}
.filter-bar > div:nth-of-type(1) > p {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #b3b3b3;
  font-style: italic;
}
.filter-bar > div:nth-of-type(2) {
  cursor: pointer;
}
.filter-bar > div:nth-of-type(2) > i {
  margin-right: 7px;
  color: #d2d2d2;
  font-size: 17px;
}
.filter-bar > div:nth-of-type(2).checked > i {
  color: #a2a2a2;
}
.filter-bar > div:nth-of-type(2).checked > p {
  color: #a2a2a2;
  font-weight: 700;
}
.star-filter {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
.star-filter > div {
  margin: 10px 0px;
  cursor: pointer;
  line-height: 2.2;
}
.star-filter > div > i {
  margin-right: 5px;
  color: #e6e6e6;
  font-size: 16px;
}
.star-filter > div > i.colorized {
  color: #828072;
}
.star-filter > div > span {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  color: gray;
}
.star-filter > div:hover {
  color: gray;
}
.star-filter > div:hover span {
  font-weight: normal;
}
.star-filter > div:hover > i.colorized {
  color: #afda47;
}
.store-pagination {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  justify-content: flex-end;
  margin-bottom: 6%;
  margin-top: 2%;
}
.store-pagination > li {
  border: 1px solid #b0b1b1;
  padding: 7px 12px;
  margin: 10px 5px;
  text-align: center;
}
.store-pagination > li.active {
  color: white;
  background-color: #80afae;
  border-color: #80afae;
}
.book-list {
  margin-bottom: 20px;
}
.book-list .col-md-4 {
  margin-bottom: 30px;
}
.user-box {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  align-items: center;
  justify-content: space-between;
}
.user-box > div {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.user-box > div > i {
  font-size: 40px;
  margin-right: 10px;
  color: #8baa8b;
}
.user-box > div > div {
  display: flex;
  flex-direction: column;
  font-family: Lato;
  justify-content: center;
}
.user-box > div > div > p {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 16px;
}
.user-box > div > div > small {
  font-size: 14px;
  color: gray;
}
.user-box > p {
  margin-bottom: 0px;
  font-weight: bold;
  background-color: #eaeaea;
  color: gray;
  font-family: Lato;
  padding: 2px 6px;
  border-radius: 4px;
}
.setting-list {
  margin-top: 10px;
  margin-bottom: 50px;
}
.setting-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 10px;
  margin-bottom: 0px;
  color: gray;
}
.setting-list > div > p {
  margin-bottom: 0px;
}
.setting-list > div > p > span {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 2px 7px;
  background-color: #8198a8;
  color: white;
  border-radius: 20px;
  margin-left: 5px;
}
.setting-list > div > p > i {
  opacity: 0;
  max-width: 0px;
  transition: 0.2s linear;
}
.setting-list > div > i {
  padding: 5px 7px;
  background-color: #da825b;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}
.setting-list > div:hover {
  background-color: #fbfbfb;
  cursor: pointer;
  color: #525252;
  font-weight: bold;
}
.setting-list > div:hover > p > i {
  opacity: 1;
  max-width: 100px;
  margin-right: 5px;
  transition: opacity 0.2s, margin-right 0.2s linear, max-width 0.8s linear;
}
.setting-list > div.select {
  background-color: #f0f0f0;
  color: #696969;
  font-weight: bold;
  border-right: 7px solid #9ab5b2;
}
.setting-list > div.select > p > i {
  opacity: 1;
  max-width: 100px;
  margin-right: 5px;
}
.orders-section {
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.orders-section > h4 {
  color: #5f5f5f;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 0px;
  text-transform: uppercase;
  font-size: 18px;
}
.orders-section > h4 > i {
  margin-right: 4px;
}
.orders-section > div > p {
  margin-bottom: 0px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  margin-right: 10px;
  color: gray;
}
.orders-section > div > p > span {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 13px;
  text-transform: lowercase;
}
.orders-section > div > p > span > i {
  font-size: 10px;
}
.orders-section > div > p > span:hover {
  cursor: pointer;
  color: #444444;
}
.orders-section > div > p > span:nth-of-type(1) {
  font-weight: bold;
  color: #6d76c5;
  font-size: 14px;
}
.orders-section > div > p > span:nth-of-type(1):hover {
  cursor: default;
  color: #6d6d6d;
}
.orders-header > .row {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #8080802e;
  margin: 0px;
  margin-top: 20px;
}
.orders-header > .row > div > p {
  color: gray;
  font-size: 12px;
}
.orders-row > .row {
  margin: 0px;
  margin-top: 20px;
  padding: 20px 10px;
  background-color: whitesmoke;
  transition-duration: 0.2s;
}
.orders-row > .row:hover {
  background-color: #f5f5f56e;
}
.orders-row > .row > div > p {
  margin-bottom: 0px;
  color: #585858;
  font-family: "Lato", sans-serif;
}
.orders-row > .row > div:nth-of-type(1) > a {
  color: #389ea6;
  text-transform: uppercase;
}
.orders-row > .row > div:nth-of-type(5) > p {
  font-weight: bold;
}
.order-detail-section {
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  margin-top: 5px;
}
.order-detail-section > h4 {
  color: #5f5f5f;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 0px;
}
.order-detail-section > h4 > span {
  text-transform: uppercase;
}
.order-detail-section > h4 > i {
  margin-right: 5px;
}
.order-detail-section > p {
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 12px;
  font-family: Lato;
  color: gray;
}
.order-detail-section > p > b {
  text-transform: capitalize;
  color: white;
  padding: 3px 5px;
  background-color: #8ac88a;
  border-radius: 3px;
  font-size: 10px;
  margin-left: 3px;
}
.order-detail-header > .row {
  border-bottom: 1px solid #8080802e;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.order-detail-header > .row > div > p {
  color: gray;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
}
.order-detail-header > .row > div > p > i {
  margin-right: 5px;
}
.order-detail-row > .row {
  background-color: #fafafa;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
  padding: 10px 5px;
}
.order-detail-row > .row > .col-md-8 {
  padding-left: 0px;
  padding-right: 0px;
}
.order-detail-row > .row > .col-md-8 > div {
  display: flex;
  padding-left: 10px;
  align-items: center;
}
.order-detail-row > .row > .col-md-8 > div > div > p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}
.order-detail-row > .row > .col-md-8 > div > div > p > span {
  text-transform: capitalize;
  margin-right: 5px;
}
.order-detail-row > .row > .col-md-8 > div > div > p > i {
  margin-left: 5px;
  color: aqua;
}
.order-detail-row > .row > .col-md-8 > div > div > p:nth-of-type(2) {
  color: gray;
}
.order-detail-row > .row > .col-md-8 > div > div > img {
  width: 55px;
  height: 80px;
  margin-right: 17px;
}
.order-detail-row > .row > .col-md-8 > div > div:nth-of-type(1) {
  position: relative;
}
.order-detail-row > .row > .col-md-8 > div > div:nth-of-type(1) > p {
  position: absolute;
  color: mediumaquamarine;
  background-color: #303030;
  width: 55px;
  padding: 2px;
  bottom: 0;
  font-size: 10px;
  text-align: center;
}
.order-detail-row > .row > .col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
}
.order-detail-row > .row > .col-md-4 > div {
  margin-top: 15px;
  color: #3d3d3d;
}
.order-detail-row > .row > .col-md-4 > div > p {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}
.order-detail-row > .row > .col-md-4 > div > p:nth-of-type(1) > span {
  font-weight: normal;
  margin-left: 5px;
}
.order-detail-row > .row > .col-md-4 > div > p:nth-of-type(1) > span:nth-of-type(1) {
  color: gray;
  font-size: 12px;
  text-decoration: line-through;
}
.order-detail-row > .row > .col-md-4 > div > p:nth-of-type(1) > span:nth-of-type(2) {
  color: #e17171;
  margin-left: 5px;
  font-size: 13px;
}
.order-detail-row > .row > .col-md-4 > div > p:nth-of-type(2) {
  font-weight: normal;
  color: gray;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}
.order-detail-row > .row > .col-md-4 > div > p:nth-of-type(2) > i {
  margin-left: 1px;
}
.order-detail-info {
  margin-bottom: 50px;
}
.order-detail-info > div > h5 {
  border-bottom: 1px solid #8080802e;
  color: gray;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  padding-left: 10px;
  padding-bottom: 14px;
}
.order-detail-info > div > h5 > i {
  margin-right: 5px;
}
.order-detail-info > div > p {
  padding-left: 10px;
  color: gray;
  font-family: "Lato", sans-serif;
  line-height: 2;
}
.order-detail-info > div:nth-of-type(1) {
  padding: 0px;
}
.order-detail-info > div:nth-of-type(1) > p:nth-of-type(1) {
  text-transform: uppercase;
  font-weight: bold;
  color: #6c6b6b;
  font-size: 16px;
}
.order-detail-info > div:nth-of-type(1) > p:nth-of-type(1) > i {
  margin-right: 5px;
}
.order-detail-info > div:nth-of-type(2) {
  color: gray;
  font-family: "Lato", sans-serif;
}
.order-detail-info > div:nth-of-type(2) > h5 {
  margin-top: 30px;
}
.order-detail-info > button {
  border: none;
  outline: none;
  padding: 7px 5px;
  width: 100%;
  font-family: "Lato", sans-serif;
  background-color: #c0be78;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 8px;
}
.store-detail > .row > div {
  font-family: "Verdana", sans-serif;
  line-height: 2;
}
.store-detail > .row > div.col-md-5 > img {
  width: 320px;
  margin: auto;
  margin-top: 10px;
}
.store-detail > .row > div.col-md-5 > div {
  display: flex;
  margin-left: 10px;
  justify-content: center;
}
.store-detail > .row > div.col-md-5 > div > img {
  padding: 6px;
  border: 1px solid #e5e3e3;
  width: 70px;
  height: 90px;
  margin: 10px 10px 10px 0px;
}
.store-detail > .row > div.col-md-5 > div > img.active {
  border: 1px solid #b3b8bc;
}
.store-detail > .row > div.col-md-7 > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #eee;
}
.store-detail > .row > div.col-md-7 > p {
  color: #585858;
}
.store-detail > .row > div.col-md-7 > p:nth-of-type(1) {
  color: #9a9a9a;
  font-weight: bold;
  font-size: 15px;
}
.store-detail > .row > div.col-md-7 > p:nth-of-type(2) {
  background: url(https://vcdn.tikicdn.com/desktop/img/beseller-product.png) center left no-repeat;
  padding-left: 20px;
}
.store-detail > .row > div.col-md-7 > p:nth-of-type(3) > b:nth-of-type(1) {
  color: #585858;
}
.store-detail > .row > div.col-md-7 > p:nth-of-type(3) > b:nth-of-type(2) {
  color: #599461;
}
.store-detail > .row > div.col-md-7 > p:nth-of-type(4) {
  font-size: 30px;
  margin-bottom: 10px;
}
.store-detail > .row > div.col-md-7 > p:nth-of-type(4) > del {
  color: #859086;
  padding-left: 3%;
  font-size: 20px;
}
.store-detail > .row > div.col-md-7 > h2 {
  font-weight: 700;
  margin-top: 10px;
}
.store-detail > .row > div.col-md-7 > div:nth-of-type(1) {
  display: flex;
  justify-content: flex-start;
}
.store-detail > .row > div.col-md-7 > div:nth-of-type(1) > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.store-detail > .row > div.col-md-7 > div:nth-of-type(1) > div > input {
  text-align: center;
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  outline: none;
  border: 1px solid #969696;
}
.store-detail > .row > div.col-md-7 > div:nth-of-type(1) > div > button {
  background-color: #4e4d4d;
  color: #fff;
  border: 1px solid #4e4d4d;
  padding: 5px 13px;
  border-radius: 3px;
}
.store-detail > .row > div.col-md-7 > div:nth-of-type(1) > div > button:nth-of-type(2) {
  padding: 5px 16px;
}
.store-detail > .row > div.col-md-7 > div:nth-of-type(1) > button {
  text-transform: uppercase;
  background-color: #939454;
  color: white;
  font-weight: 700;
  border: 1px solid #939454;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
}
.store-detail > .row > div.col-md-7 > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  margin-top: 14px;
  width: 280px;
  justify-content: space-between;
}
.store-detail > .row > div.col-md-7 > div:nth-of-type(2) > p > a {
  color: #8b98a2;
}
.store-detail-v2 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Verdana", sans-serif;
  line-height: 2;
}
.store-detail-v2 > div:nth-of-type(1) {
  display: flex;
}
.store-detail-v2 > div:nth-of-type(1) > div {
  display: flex;
  flex-direction: column;
}
.store-detail-v2 > div:nth-of-type(1) > div img {
  min-width: 70px;
  height: 80px;
  padding: 5px 10px;
  border: 1px solid #b3b8bcc7;
  border-radius: 3px;
  margin-bottom: 10px;
}
.store-detail-v2 > div:nth-of-type(1) > img {
  margin: 20px 80px;
  width: 330px;
  height: 500px;
}
.store-detail-v2 > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #80808026;
  padding-left: 40px;
}
.store-detail-v2 > div:nth-of-type(2) > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #eee;
}
.store-detail-v2 > div:nth-of-type(2) > p {
  color: #585858;
}
.store-detail-v2 > div:nth-of-type(2) > p:nth-of-type(1) {
  color: #9a9a9a;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}
.store-detail-v2 > div:nth-of-type(2) > p:nth-of-type(3) > b:nth-of-type(1) {
  color: #585858;
}
.store-detail-v2 > div:nth-of-type(2) > p:nth-of-type(3) > b:nth-of-type(2) {
  color: #599461;
}
.store-detail-v2 > div:nth-of-type(2) > p:nth-of-type(4) {
  font-size: 30px;
  margin-bottom: 10px;
}
.store-detail-v2 > div:nth-of-type(2) > p:nth-of-type(4) > del {
  color: #859086;
  padding-left: 3%;
  font-size: 20px;
}
.store-detail-v2 > div:nth-of-type(2) > p.delivery-time {
  line-height: 1.2;
  color: #797979;
}
.store-detail-v2 > div:nth-of-type(2) > p.bookcare {
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 1.2;
  color: #797979;
}
.store-detail-v2 > div:nth-of-type(2) > h2 {
  font-weight: 700;
  margin-top: 10px;
  font-size: 30px;
}
.store-detail-v2 > div:nth-of-type(2) > div:nth-of-type(1) {
  display: flex;
  align-items: center;
}
.store-detail-v2 > div:nth-of-type(2) > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
}
.store-detail-v2 > div:nth-of-type(2) > div:nth-of-type(2) > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.store-detail-v2 > div:nth-of-type(2) > div:nth-of-type(2) > div > input {
  text-align: center;
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  outline: none;
  border: 1px solid #969696;
}
.store-detail-v2 > div:nth-of-type(2) > div:nth-of-type(2) > div > button {
  background-color: #4e4d4d;
  color: #fff;
  border: 1px solid #4e4d4d;
  padding: 5px 13px;
  border-radius: 3px;
}
.store-detail-v2 > div:nth-of-type(2) > div:nth-of-type(2) > div > button:nth-of-type(2) {
  padding: 5px 16px;
}
.store-detail-v2 > div:nth-of-type(2) > div:nth-of-type(2) > button {
  text-transform: uppercase;
  background-color: #939454;
  color: white;
  font-weight: 700;
  border: 1px solid #939454;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
}
.store-detail-v2 > div:nth-of-type(2) > div:nth-of-type(3) {
  display: flex;
  align-items: center;
  margin-top: 14px;
  width: 280px;
  justify-content: space-between;
}
.store-detail-v2 > div:nth-of-type(2) > div:nth-of-type(3) > p > a {
  color: #8b98a2;
}
.store-detail-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.store-detail-header > .container {
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding-bottom: 110px;
}
.store-detail-header > .container > h1 {
  font-size: 50px;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: left;
}
.store-detail-header > .container > p {
  font-size: 19px;
  font-weight: 300;
  display: block;
  margin-bottom: 7px;
  color: #dadada;
  font-family: "Lato", sans-serif;
  text-align: left;
}
.store-detail-review {
  margin-bottom: 25px;
}
.store-detail-review > h4 {
  color: #5f5f5f;
  background-color: white;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #d6d6d6;
  margin: 10px 0;
  padding: 15px 0px;
  font-size: 18px;
}
.store-detail-review > h4 > span,
.store-detail-review > h4 a {
  color: #878585;
  font-size: 13px;
  margin-left: 8px;
  font-weight: lighter;
  user-select: none;
}
.store-detail-review > h4 > span:hover,
.store-detail-review > h4 a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.store-detail-review > p {
  font-size: 15px;
  color: gray;
  font-family: "Lato", sans-serif;
  border-bottom: 1px solid #ededed;
  padding-bottom: 12px;
  padding-left: 15px;
}
.store-detail-review > p > i {
  font-size: 16px;
  margin-right: 3px;
}
.store-detail-review > div {
  margin-top: 25px;
  transition-duration: 0.4s;
}
.store-detail-review > div > .col-md-1 {
  margin-right: 30px;
}
.store-detail-review > div > .col-md-1 > i {
  font-size: 30px;
  margin-left: 30px;
  padding: 20px;
  background-color: #efefef8c;
  color: #bbd1cb;
  border-radius: 40px;
}
.store-detail-review > div > .col-md-10 > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.store-detail-review > div > .col-md-10 > div:nth-of-type(1) > span {
  color: #b4b4b4;
  font-weight: normal;
}
.store-detail-review > div > .col-md-10 > div:nth-of-type(1) > span:nth-of-type(1) {
  margin-right: 5px;
}
.store-detail-review > div > .col-md-10 > div:nth-of-type(1) > span:nth-of-type(2) {
  margin-left: 5px;
}
.store-detail-review > div > .col-md-10 > div:nth-of-type(1) > span:nth-of-type(2).rated {
  font-weight: bold;
  color: gray;
}
.store-detail-review > div > .col-md-10 > textarea {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 10px 0px;
  border-color: #a3b8b8;
}
.store-detail-review > div > .col-md-10 > textarea:nth-of-type(1) {
  padding-bottom: 10px;
  margin-bottom: 6px;
  font-weight: bold;
  margin-top: 5px;
  border-radius: 5px;
}
.store-detail-review > div > .col-md-10 > button {
  margin-top: 10px;
  margin-right: 5px;
  font-size: 14px;
  background-color: #b8945e;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.store-detail-review > div > .col-md-10 > button:nth-of-type(1) {
  transition-duration: 0.2s;
}
.store-detail-review > div > .col-md-10 > button:nth-of-type(1):hover {
  background-color: #725b38;
}
.store-detail-review > div > .col-md-10 > button:nth-of-type(2) {
  background-color: #c6c6c6;
  color: white;
}
.store-row-review {
  margin-top: 25px;
}
.store-row-review > div > div.col-md-1 {
  margin-right: 30px;
}
.store-row-review > div > div.col-md-1 > i {
  font-size: 30px;
  margin-left: 30px;
  padding: 20px;
  background-color: #efefef8c;
  color: #bbd1cb;
  border-radius: 40px;
}
.store-row-review > div > div.col-md-10 {
  font-family: "Lato", sans-serif;
  margin-bottom: 28px;
}
.store-row-review > div > div.col-md-10 > div {
  display: flex;
  justify-content: space-between;
}
.store-row-review > div > div.col-md-10 > div > div {
  display: flex;
  align-items: baseline;
}
.store-row-review > div > div.col-md-10 > div > div > p {
  margin: 0;
  margin-right: 8px;
  height: 26px;
}
.store-row-review > div > div.col-md-10 > div > div > p > b {
  color: black;
}
.store-row-review > div > div.col-md-10 > div > p {
  color: #80808080;
}
.store-row-review > div > div.col-md-10 > h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.store-row-review > div > div.col-md-10 > h4 > b {
  font-size: 16px;
}
.store-row-review > div > div.col-md-10 > p {
  font-size: 14px;
  line-height: 1.8;
}
.store-row-review > div > div.col-md-10 > span {
  color: #b8b8b8;
  font-weight: 700;
  margin-right: 10px;
}
.store-row-review > div > div.col-md-10 > button {
  background-color: #3d9797;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 25px;
}
.store-detail-description > .row > div.col-md-9 {
  font-size: 15px;
  line-height: 1.8;
}
.store-detail-description > .row > div.col-md-3 {
  line-height: 1.8;
}
.store-detail-description > .row > div.col-md-3 > p {
  color: #585858;
}
.shop-footer {
  background-color: #191919;
  padding-top: 50px;
}
.shop-footer > .footer-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #141414;
  padding: 25px 0;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
}
.shop-footer > .footer-bar p {
  color: gray;
  margin: 0;
}
.shop-footer > .container > .row {
  padding-bottom: 50px;
}
.shop-footer > .container > .row > .col-md-4:nth-of-type(1) > p {
  font-family: "Helvetica Neue", sans-serif;
  color: dimgrey;
  margin-top: 10px;
  line-height: 2;
  font-size: 14px;
}
.shop-footer > .container > .row > .col-md-4:nth-of-type(1) > div:nth-of-type(1) > i {
  color: #e4e4e4;
  text-align: center;
  height: 30px;
  width: 30px;
  background-color: #52525273;
  border-radius: 60%;
  margin-right: 10px;
  font-size: 18px;
  padding: 6px 5px;
}
.shop-footer > .container > .row > .col-md-4:nth-of-type(1) > div > span {
  margin: 0;
  padding: 7px 15px;
  border-radius: 20px;
  color: #a1a1a1;
  background-color: transparent;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  border: 2px solid black;
  margin-top: 15px;
}
.shop-footer > .container > .row > .col-md-4:nth-of-type(1) > div:nth-of-type(2) {
  margin-top: 30px;
}
.shop-footer > .container > .row > .col-md-4:nth-of-type(1) > div:nth-of-type(2) > span {
  border-color: #155859;
}
.shop-footer > .container > .row > .col-md-4:nth-of-type(1) > div:nth-of-type(3) {
  margin-top: 30px;
}
.shop-footer > .container > .row > .col-md-4:nth-of-type(1) > div:nth-of-type(3) > span {
  border-color: #692a11;
}
.shop-footer > .container > .row > .col-md-4:nth-of-type(4) > h4 {
  margin: 0px;
  margin-bottom: 12px;
  color: #258081;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.shop-footer > .container > .row > .col-md-2 > h4 {
  margin: 0px;
  margin-bottom: 12px;
  color: #258081;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.shop-footer > .container > .row > .col-md-2 > ul {
  list-style-type: none;
  padding-left: 0px;
  line-height: 2.2;
}
.shop-footer > .container > .row > .col-md-2 > ul a {
  color: gray;
  text-decoration: none;
  transition-duration: 0.5s;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
.shop-footer > .container > .row > .col-md-2 > ul a:hover {
  color: white;
}
.foot-book {
  margin-top: 20px;
  display: flex;
}
.foot-book > img {
  width: 70px;
  height: 100px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.foot-book > div {
  display: flex;
  flex-direction: column;
}
.foot-book > div > h4 {
  color: #afafaf;
  text-transform: capitalize;
  font-size: 17px;
  font-family: "Lato", sans-serif;
}
.foot-book > div > p:nth-of-type(1) {
  font-family: "Helvetica Neue", sans-serif;
  color: #4e4e4e;
  margin-bottom: 10px;
}
.foot-book > div > p:nth-of-type(2) {
  font-family: "Lato", sans-serif;
  color: gray;
  font-size: 14px;
  text-align: left;
}
.foot-book > div > p:nth-of-type(2) > i {
  color: #b6c519;
}
