.imgAsBg,
.trending-genres > .container > div:nth-of-type(2) > div,
.recommend-book {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  overflow: auto;
}
.logo {
  color: #e4e4e4;
  font-size: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo > i {
  font-size: 40px;
  color: white;
}
.logo > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 10px;
  line-height: 20px;
}
.logo > div > span {
  color: white;
  line-height: 20px;
}
.logo > div > span:nth-of-type(1) {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 100;
}
.logo > div > span:nth-of-type(2) {
  margin-top: 3px;
  font-family: "Helvetica Neue", sans-serif !important;
  font-size: 14px;
  color: #808080;
}
.shop-navbar {
  padding: 38px 51px 38px 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
}
.shop-navbar.transparent {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.shop-navbar > div {
  display: flex;
  align-items: center;
}
.shop-navbar > div#left > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 12px;
}
.shop-navbar > div#left > ul > li {
  font-family: "Lato", sans-serif;
  color: #dadada;
  border: none;
  outline: none;
  padding: 15px 16px;
}
.shop-navbar > div#left > ul > li a {
  font-size: 16px;
  color: #dadada;
}
.shop-navbar > div#left > ul > li:hover {
  border-radius: 5px;
  background-color: #4141414f;
  transition-duration: 0.5s;
}
.shop-navbar > div#left > div {
  display: flex;
  align-items: center;
  padding-left: 5px;
  width: 400px;
  height: 41px;
  border-radius: 20px;
  border: 2px solid #bfbfbf;
  margin-left: 20px;
}
.shop-navbar > div#left > div > i {
  font-size: 16px;
  color: #9c9c9c;
  margin-left: 8px;
}
.shop-navbar > div#left > div > input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  background-color: transparent;
  color: #9c9c9c;
  outline: none;
  border: none;
  transition: none;
  font-family: "Helvetica Neue", sans-serif;
}
.shop-navbar > div#left > div > input::placeholder {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}
.shop-navbar > div#right {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
}
.shop-navbar > div#right > .phone {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.shop-navbar > div#right > .phone > i {
  padding-right: 10px;
  margin-right: 10px;
  font-size: 21px;
  color: #d1d1d1;
}
.shop-navbar > div#right > .phone > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5px;
}
.shop-navbar > div#right > .phone > div > p {
  font-size: 13px;
  color: #d1d1d1;
  margin-bottom: 0px;
  letter-spacing: 3px;
}
.shop-navbar > div#right > .phone > div > small {
  font-size: 14px;
  color: gray;
}
.shop-navbar > div#right > .acc {
  margin-right: 15px;
}
.shop-navbar > div#right > .acc > a {
  display: flex;
  align-items: center;
  color: #dadada;
  padding: 7px 15px 6px 15px;
}
.shop-navbar > div#right > .acc > a > i {
  padding-right: 10px;
  margin-right: 10px;
  font-size: 25px;
  border-right: 1px solid gray;
}
.shop-navbar > div#right > .acc > a > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Lato", sans-serif;
}
.shop-navbar > div#right > .acc > a > div > p {
  font-size: 14px;
  color: #d1d1d1;
  margin-bottom: 0px;
}
.shop-navbar > div#right > .acc > a > div > small {
  font-size: 14px;
  color: gray;
}
.shop-navbar > div#right > .acc > a:hover {
  color: white;
}
.shop-navbar > div#right > .cart > a {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #366f724f;
  color: white;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
}
.shop-navbar > div#right > .cart > a > i {
  margin-right: 5px;
  font-size: 22px;
  color: #e5e5e5;
}
.shop-navbar > div#right > .cart > a > span {
  margin-left: 5px;
}
.shop-navbar > div#right > .cart > a > span:nth-of-type(1) {
  margin-right: 5px;
  font-size: 16px;
  color: #e5e5e5;
}
.shop-navbar > div#right > .cart > a > span:nth-of-type(2) {
  margin-left: 5px;
  background-color: #4f7c7c;
  padding: 4px 7px;
  border-radius: 3px;
}
.book > div {
  position: relative;
}
.book > div > img {
  display: block;
  height: 295px;
  width: 205px !important;
  margin: auto;
}
.book > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f2f2f;
  width: 205px;
  margin: auto;
  transition-duration: 0.5s;
  opacity: 0;
  transform: translateY(8px);
}
.landing-header {
  width: 100%;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-header > .container {
  font-family: "Lato", sans-serif;
  margin-top: 60px;
}
.landing-header > .container > h2 {
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}
.landing-header > .container > p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #dadada;
}
.benefit-bar {
  background-color: #1f1f1f;
  padding: 25px 0;
}
.benefit-bar .col-md-4 {
  display: flex;
  align-items: center;
}
.benefit-bar .col-md-4 > i {
  padding: 15px;
  font-size: 25px;
  border: 2px solid #6f5757;
  border-radius: 10px;
  color: #e2e2e2;
}
.benefit-bar .col-md-4 > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Lato", sans-serif;
  margin-left: 18px;
}
.benefit-bar .col-md-4 > div > h3 {
  margin: 0;
  font-size: 18px;
  color: #e2e2e2;
  margin-bottom: 5px;
}
.benefit-bar .col-md-4 > div > p {
  color: #8e8d8d;
  margin: 0;
  line-height: 1.5;
}
.trending-genres {
  background-color: #0f0f0f;
  padding-bottom: 50px;
  font-family: "Lato", sans-serif;
  padding: 20px 0 50px 0;
}
.trending-genres > .container > div {
  display: flex;
  align-items: center;
}
.trending-genres > .container > div:nth-of-type(1) {
  margin-bottom: 25px;
}
.trending-genres > .container > div:nth-of-type(1) > h2 {
  color: #838383;
  font-weight: lighter;
  font-size: 22px;
  margin: 0;
  border-right: 1px solid #545454bd;
  padding-right: 8px;
}
.trending-genres > .container > div:nth-of-type(1) > span {
  font-size: 16px;
}
.trending-genres > .container > div:nth-of-type(1) > span > i {
  color: #575757;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 8px;
}
.trending-genres > .container > div:nth-of-type(2) > div {
  height: 220px;
  max-heigh: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recommend-book {
  background-attachment: fixed;
}
.recommend-book > div {
  background-color: #00000085;
}
.recommend-book > div > .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) {
  padding-top: 50px;
  font-family: "Helvetica Neue", sans-serif;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > h4:nth-of-type(1) {
  font-family: "Lato", sans-serif;
  color: #d2d2d275;
  font-size: 18px;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > h4:nth-of-type(2) {
  color: #c5c5c5;
  font-size: 17px;
  font-style: italic;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > h1 {
  text-transform: capitalize;
  color: #f0f0f0;
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 36px;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > p {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-family: Lato;
  font-weight: 300;
  color: #c6c6c6f0;
  line-height: 1.7;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > button {
  background-color: #555;
  color: #b3b3b3;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 2;
  text-transform: capitalize;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  border: 2px solid #555;
  border-radius: 20px;
  transition-duration: 0.2s;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(1) > button:hover {
  background-color: transparent;
  color: gray;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(2) {
  padding-top: 30px;
  padding-bottom: 30px;
}
.recommend-book > div > .container > .row > .col-md-4:nth-of-type(3) {
  padding-top: 30px;
  padding-bottom: 30px;
}
.recommend-book > div > .container > .row > .col-md-4 img {
  width: 288px;
  height: 432px;
  margin: auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-books {
  margin-bottom: 50px;
}
.feature-books > .container > h2 {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  text-align: left;
  margin-top: 40px;
  color: #555;
  margin-bottom: 12px;
  font-size: 30px;
}
.feature-books > .container > p {
  text-align: left;
  color: gray;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
}
.feature-books > .container > .row {
  margin-top: 35px;
}
