// keyframe function for appear and disappear
.appear-keyframes(@appear, @ver, @coor) {
    @keyframes @appear {
        0% {
    		opacity: 0;
    		transform: if(@ver, translateX(@coor), translateY(@coor));
    	}
    	100% {
    		opacity: 1;
    		transform: translate(0px);
    	}
    }
}

.fade-keyframes() {
    @keyframes fadeOutMode {
        0% {
    		opacity: 1;
    	}
    	100% {
    		opacity: 0;
    	}
    }

    @keyframes fadeInMode {
    	0% {
    		opacity: 0;
    	}
        100% {
            opacity: 1;
        }
    }
}

// keyframe for appear signup input
@keyframes signupAppear {
    0% {
        visibility: hidden;
        height: 0px;
        opacity: 0;
        transform: translateX(-30px);
        margin-bottom: 0;
    }
    100% {
        visibility: visible;
        height: 100%;
        opacity: 1;
        transform: translateX(0px);
        margin-bottom: 20px;
    }
}

// form and button mode fade animation
.fade-keyframes();

.authFadeOut {
    animation: fadeOutMode .5s 1 forwards;
}

.authFadeIn {
    animation: fadeInMode .5s 1 forwards;
}

// intro appear animation
.appear-keyframes(introAppear, false, -100px);
.appear-keyframes(brandAppear, false, -40px);
.appear-keyframes(joinAppear, true, -40px);
.appear-keyframes(socialAppear, false, 40px);

// form appear animation
.appear-keyframes(formAppear, false, -100px);
.appear-keyframes(fieldAppear, true, 30px);
