.book {
    > div {
        position: relative;

        > img {
            display: block;
            height: 295px;
            width: 205px !important;
            margin: auto;
        }

        > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 15px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #2f2f2f;
            width: 205px;
            margin: auto;

            transition-duration: 0.5s;
            opacity: 0;
            transform: translateY(8px);
        }
    }

    > a {

    }

}
