.chat-box {
    position: fixed;
    box-sizing: border-box;
    width: 330px;
    bottom: 130px;
    right: 50px;
    z-index: 99;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 3px 3px 15px -1px rgba(50, 50, 50, 0.3);
    box-shadow: 3px 3px 15px -1px rgba(50, 50, 50, 0.3);
    border-radius: 10px;

    > div {
        &:nth-of-type(1) {
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            background-color: #343434;
            color: white;
            cursor: pointer;

            > h3 {
                font-family: @f-la;
                color: white;
                margin: 5px 0;
            }
        }

        &:nth-of-type(2) {
            background-color: #F3F3F3;
            width: 100%;
            height: 300px;
            overflow: auto;
            padding: 20px 12px 10px 12px;
            box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background-color: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #999999bd;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #888;
            }

            > div {
                margin-bottom: 15px;
                display: flex;
                width: 100%;

                &.right {
                    justify-content: flex-end;

                    > div {
                        background-color: white;
                        color: black;
                        border-bottom-right-radius: 0px;
                    }
                }

                &.left {
                    > div {
                        background-color: #84b7b9;
                        color: white;
                        border-top-left-radius: 0px;
                    }
                }

                > div {
                    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.5);
                    padding: 10px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    max-width: 75%;

                    > p {
                        margin: 0;
                        font-family: @f-la;
                    }
                }
            }

        }
    }

    > form {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        background-color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        input {
            background-color: transparent;
            padding: 17px 0px 17px 12px;
            width: 100%;
            border: none;
            outline: none;
            font-family: @f-la;
        }

        button {
            background-color: transparent;
            outline: none;
            border: none;

            &:nth-of-type(1) {
                font-size: 20px;
                padding-top: 5px;
                margin-left: 10px;
            }

            &:nth-of-type(2) {
                height: 100%;
                margin-right: 10px;
            }
        }
    }

}
