.store-nav-list {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    list-style-type: none;
    margin-bottom: 0px;

    a {
        color: #828384;
        line-height: 2.5;
    }
}
